button{
    position: absolute;
    top: 50;
    left: 50;
    transform: translate(161% , 321%);
    padding: 1rem 1.5rem;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 3rem;
    box-shadow: 0px 0px 10px rebeccapurple;
    transition: all 0.4s;
}   

button:hover{
    box-shadow:0px 0px 25px rgb(71, 3, 140);
    

}